.Autoplay__Container {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  padding-right: 10px;
  justify-content: space-between;
}

.Autoplay__ContainerInput {
  align-items: center;
  display: flex;
  gap: 20px;
}

.Autoplay_timerContainer {
  width: 80px;
}

.Autoplay_timerContainer > img {
  width: 100%;
  object-fit: contain;
}
