/* header */
.dashboard-header {
  /* margin-bottom: 10px; */
}
.image_row {
  margin: 10px;
}

.header_text_1 {
  text-align: center;
  color: #014c3d;
  font: normal normal 700 normal 30px/34px Mukta;
}

.header_text_2 {
  text-align: center;
  font: normal normal 500 normal 14px/20px Mukta;
}

.logout-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
  height: 28px;
  font-size: 12px;
}

.combinedFooter {
  background: var(--dashboard-header);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
