.leaflet-container {
  background: #fff;
  outline: 0;
}

.tooltip-popup .leaflet-popup-content-wrapper {
  background-color: #014c3d;
  color: white;
  font-size: 19px;
}

.marker-cluster-small {
  background-color: #4c8bf5 !important;
}

.marker-cluster-small div {
  background-color: #4c8bf5 !important;
  color: #fff !important;
}
.leaflet-touch .leaflet-bar a {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 20px;
  font: 22px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
