.CombinedIframe {
  height: 37vh;
}

.CombinedIframe2 {
  height: 46vh;
}

.CombinedIframe__map {
  height: 86%;
  border: 8px solid var(--grey-primary);
  overflow: hidden;
}

.demoHeader3__height1 {
  height: 120px;
}

.CombinedIframe__flex {
  display: flex;
}

.CombinedIframe__flex--fix {
  flex-direction: column;
  justify-content: space-between;
}
