.CombinedIframe {
  height: 37.5vh;
}

.CombinedIframe2 {
  height: 47vh;
}

.CombinedIframe__map {
  height: 86%;
  border: 8px solid var(--grey-primary);
  overflow: hidden;
}

.demoHeader3__height1 {
  height: 120px;
}

.CombinedIframe__flex {
  display: flex;
}

.CombinedIframe__flex--fix {
  flex-direction: column;
  justify-content: space-between;
}

.screen4HeaderContainer {
  display: flex;
}

.HeaderContainer__width1 {
  width: 78%;
}

.HeaderContainer__width2 {
  width: 23%;
}
